<!--FOOTER SECTION -->
<div class="for-full-back color-bg-one" id="footer">
    2014 www.yourdomain.com | All Right Reserved | Terms | Policies | Licenses

</div>
<!-- END FOOTER SECTION -->

<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="assets/plugins/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP CORE SCRIPT   -->
<script src="assets/plugins/bootstrap.js"></script>
<!-- SIDE MENU SCRIPTS -->
<script src="assets/js/modernizr.custom.js"></script>
<script src="assets/js/classie.js"></script>
<!-- VEGAS SLIDESHOW SCRIPTS -->
<script src="assets/plugins/vegas/jquery.vegas.min.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>

</body>

</html>