<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <%= pageTitle %>
    </title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome-animation.css" rel="stylesheet" />
    <link href="/assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <link href="/assets/css/component.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>

<body class="cbp-spmenu-push">

    <!-- MAIN HEADING-->
    <div class="for-full-back color-bg-one" id="main-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 class="pad-adjust"><i class="fa fa-plus faa-pulse animated"></i>Kaif</h1>
                </div>
            </div>
        </div>
    </div>
    <!--END MAIN HEADING-->
    <!--LEFT SLIDE MENU-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3>BIWAS</h3>
        <a href="/"><i class="fa fa-home fa-3x"></i>HOME</a>
        <a href="/admin/add-product"><i class="fa fa-microphone fa-3x"></i>ADD-PRODUCT</a>
        <a href="/admin/products"><i class="fa fa-microphone fa-3x"></i>ADMIN PRODUCT</a>
        <a href="/cart"><i class="fa fa-dollar fa-3x"></i>CART</a>
        <a href="/orders"><i class="fa fa-dollar fa-3x"></i>ORDERS</a>
        <a href="/products"><i class="fa fa-rocket fa-3x"></i>PRODUCTS</a>
        <a href="/registeration"><i class="fa fa-rocket fa-3x"></i>Registeration</a>
        <a href="/login"><i class="fa fa-rocket fa-3x"></i>Login</a>
        <a href="#contact-sec"><i class="fa fa-globe fa-3x"></i>CONTACT</a>
    </nav>

    <div class="row" id="icon-left">
        <div class="col-md-12">
            <i id="showLeftPush" class="fa fa-cut fa-4x faa-horizontal animated "></i>
        </div>
    </div>
    <!--END LEFT SLIDE MENU-->

    <!--RIGHT SLIDE MENU-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3>SOCIAL</h3>
        <a href="#">MY SOCIAL PRESENCE</a>
        <a href="#"><i class="fa fa-facebook fa-3x"></i>Facebook</a>
        <a href="#"><i class="fa fa-twitter fa-3x"></i>Twitter</a>
        <a href="#"><i class="fa fa-linkedin fa-3x"></i>Linked In</a>
        <a href="#"><i class="fa fa-google-plus fa-3x"></i>Google Plus</a>
    </nav>

    <div class="row" id="icon-right">
        <div class="col-md-12">
            <i id="showRightPush" class="fa fa-paperclip fa-4x "></i>
        </div>
    </div>
    <!--END RIGHT SLIDE MENU-->